.detail-product {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 80px;
  img {
    width: 350px;
    background-color: #dcdcdc;
    border-radius: 15px;
    border: none;
    &:hover {
      background-color: #ad310b;
      -webkit-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
    }
  }
  .description {
    width: 500px;
    padding-left: 20px;

    h2 {
      color: #324d67;
      font-size: 30px;
    }
    p {
      color: #3b4957;
      font-weight: 600;
      font-family: 'Times New Roman', Times, serif;
      font-size: 18px;
      span {
        color: rgb(255, 51, 0);
      }
    }
    .button-add-buy {
      button {
        margin-top: 30px;
        border: 1px solid black;
        padding: 10px;
        margin-right: 15px;
        width: 150px;
        cursor: pointer;
        background-color: #f02d34;
        border-radius: 3px;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      .add-cart {
        background-color: white;
      }
    }
  }
}
