.homepage-container {
  .products-heading {
    text-align: center;
    color: #324d67;
    margin: 40px 0px;
    line-height: 0.5;
    h2 {
      font-size: 40px;
      font-weight: 800;
    }
    p {
      font-size: 18px;
      font-weight: 200;
    }
    .product-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 20px;
      width: 100%;
      .product {
        cursor: pointer;
        .product-card {
          background-color: #dcdcdc;
          border-radius: 25px;
          width: 100%;
          height: auto;
          display: block;
          transition: transform 0.3s ease;
          height: 300px;
          img {
            width: 250px;
            height: 250px;
          }
        }
        &:hover {
          .product-card {
            transform: scale(1.1);
          }
        }
        .product-name {
          font-style: italic;
          font-weight: bold;
          margin: 0px;
          font-size: 11px;
        }
        .product-price {
          color: black;
          font-weight: 600;
          margin: 15px;
          font-size: 11px;
        }
      }
    }
  }
}
